<div class="col mt-2">
    <div class="d-flex ms-auto align-items-center">
      <div class="d-flex justify-content-between align-items-center ">
        <div class="rounded-2 bg-white d-flex border border-2" style="width: 316px;">
          <img src="../../../assets/img/search-normal.svg" class="mx-2" alt="">
          <input type="text" name="searchBar" id="searchBar" placeholder="بحث عن ..." class="p-1 mx-3 border-0 col-md-10" style="font-size: 10px; height: 30px;">
        </div>
        <div class="bg-white mx-2 px-1 rounded-2 border border-2" style="height: 30px;">
          <img src="../../../assets/img/filter.svg" alt="">
        </div>
      </div>
    </div>
  
    <div class="d-flex justify-content-between align-items-center w-100 mt-2 ">
      <div class="bg-white d-flex justify-content-around rounded-2 align-items-center rounded-bottom-0 border border-1 " style="width: 250px; height: 40px;">
        <div class="ServiceBtn btn d-flex align-items-center justify-content-around rounded-0">
           <span  style="font-size: 12px;">المنتجات</span>
        <span class="Action rounded-2 mx-2 p-1 text-white" style="font-size: 8px;">120</span>
        </div>

        <div style="width: 1px; height: 19px;" class="bg-secondary bg-opacity-25 ms-2"></div>
        
        <div class="ServiceBtn btn d-flex align-items-center justify-content-around rounded-0">
            <span style="font-size: 12px;">الخدمات</span>
            <span class="Action rounded-2 mx-2 p-1 text-white" style="font-size: 8px;">70</span>
        </div>
      </div>

      <div class="d-flex justify-content-between p-1">
        <div class="bg-white mx-2 bg-light d-flex justify-content-center align-items-center rounded-2 border border-2" style="width: 60px; height: 30px;">
          <i class="ChooseBtn bi bi-list "></i>
          <div style="width: 1px; height: 19px;" class="bg-secondary bg-opacity-25 mx-2"></div>
          <i class="ChooseBtn bi bi-grid "></i>
        </div>
  
        <div class="btn btn-outline-primary  me-2 d-flex justify-content-center align-items-center rounded-2" style=" height: 30px; width: 120px;">
          <!-- <img src="../../../assets/img/box-add.svg" alt="" class="btnImg"> -->
          <i class="bi bi-cart-plus" ></i>
          <span class="px-1 mx-1" style="font-size: 12px;">إضافة جديد</span>
        </div>
      </div>
    </div>
  
    <div class="rounded-2 p-2 bg-white border border-2">
      <table class="table">
        <thead class="custom-thead">
          <tr class="text-center border border-2">
            <th scope="col">#</th>
            <th scope="col">المنتجات</th>
            <th scope="col">سعر البيع</th>
            <th scope="col">الكمية</th>
            <th scope="col">حالة المنتج</th>
            <th scope="col">التصنيف</th>
            <th scope="col">الضريبة %</th>
            <th scope="col">الحد الأدني</th>
            <th scope="col">الخصم</th>
            <th scope="col">معدل البيع</th>
            <th scope="col" >
                <img src="../../../assets/img/grid-edit.svg" alt="" class="border border-2 rounded-3 ">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" class="text-center border border-2">
            <td>{{product.id}}</td>
            <td >
              <div class="row">
                <div class="col-md-1 ms-2 d-flex align-items-center">
                  <img src="../../../assets/img/table{{product.id}}.svg" alt="" class="rounded-2">
                </div>
                <div class="col m-0" style="font-size: 10px;">
                  {{product.productName}}
                  <h6 class="text-secondary mt-2" style="font-size: 9px;">126565958987</h6>      
                </div>
              </div>
            </td>
            <td>{{product.price | currency}}</td>
            <td>{{product.quantity}} قطعة</td>
            <td>
              <div [ngStyle]="{'background-color': getBackgroundColor(product.productStatus)}"
              [ngClass]="getFontColor(product.productStatus)"
              class="p-1 rounded-3 bg-opacity-25 mx-2">
                <ng-container *ngIf="product.productStatus == ProductStatus.Available">
                  <img src="../../../assets/img/tick-square.svg" alt="">
                </ng-container>
                <ng-container *ngIf="product.productStatus == ProductStatus.Unavailable">
                  <img src="../../../assets/img/info-circle.svg" alt="">
                </ng-container>
                <ng-container *ngIf="product.productStatus == ProductStatus.AlmostFinish">
                  <img src="../../../assets/img/arrow-up.svg" alt="">
                </ng-container>
                {{product.productStatus}}
              </div>
            </td>
            <td>
              <div class="bg-secondary bg-opacity-10 rounded-4 py-1 " >
                <ng-container *ngIf="product.Ranking == 'قص الشعر'">
                  <img src="../../../assets/img/scissors.svg" alt="">
                </ng-container>
                <ng-container *ngIf="product.Ranking == 'جهاز لابتوب'">
                  <img src="../../../assets/img/monitor.svg" alt="">
                </ng-container>
                <ng-container *ngIf="product.Ranking == 'جهاز موبيل'">
                  <img src="../../../assets/img/mobile.svg" alt="">
                </ng-container>
                {{product.Ranking}}
              </div>
            </td>
            <td>{{product.tax}} %</td>
            <td>{{product.minNumber}} قطعة</td>
            <td>{{product.discount | currency}}</td>
            <td>
              <div>
                <ng-container *ngIf="product.SellingRate">
                  <img src="../../../assets/img/Mask group up.svg" alt="">
                </ng-container>
                  <ng-container *ngIf="!product.SellingRate">
                  <img src="../../../assets/img/Mask group down.svg" alt="">
                </ng-container>
              </div>
            </td>
            <td>
              <img src="../../../assets/img/eye.svg" class="mx-1 p-1 border border-1 rounded-2" alt="">
              <img src="../../../assets/img/edit.svg" class="mx-1 p-1 border border-1 rounded-2" alt="">
              <div class="btn-group">
                <button type="button" class="btn px-1 border-0 bg-none m-0" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../../../assets/img/Vector.svg" >
                </button>
                <ul class="dropdown-menu dropdown-menu-end listBtn">
                  <li>
                    <img src="../../../assets/img/add-circle.svg" class="mx-1" alt="">
                    <span style="font-size: 12px;">إضافة طلب شراء</span>
                  </li>
                  <li>
                    <img src="../../../assets/img/pause-circle.svg" class="mx-1" alt="">
                    <span style="font-size: 12px;" class="text-secondary">تعطيل المنتج</span>
                  </li>
                  <li>
                    <img src="../../../assets/img/trash.svg" class="mx-1" alt="">
                    <span style="font-size: 12px;" class="text-danger">حذف المنتج</span>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          
        </tbody>
      </table>
      <div class="text-center ">
        <pagination-controls class="my-pagination" (pageChange)="p = $event"
                      maxSize="9"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel=""
                      nextLabel=""
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
        ></pagination-controls>
      </div>
    </div>
  </div>
