.ServiceBtn {
color: #898995;
.Action{
  background-color: #85848B;
}
}


.ServiceBtn:hover, .ServiceBtn:active {
  color:#0771DE;
  border-bottom: 2px solid #0771DE;
  .Action{
    background-color: #0771DE;
  }
}

.ChooseBtn{
  color: #85848B;
}

.ChooseBtn:hover{
  color:#0771DE;
  background-color: white;
  
}

.listBtn li{
  text-align: right;
  margin: 8px;

}

.listBtn li:hover{
  background-color: #0773de31;
  border-radius: 5px;
}

/* .tableIcon{
  color:#02000e;
  border: 1px solid #cecece;
  border-radius: 50%;
}

.tableIcon:hover{
  color: #0771DE;
  border: 1px solid #0771DE;

} */

th {
    font-size: 11px;
    color: #85848B;
    background-color: #F8F8F9;
    font-weight: 400;
}

tr { 
    font-size: 12px;
}

th , td { 
    text-align: center;
    vertical-align: middle;
}

td {
  padding: 2px;
}

.my-pagination ::ng-deep {
  .ngx-pagination .current {
    background: #0773de6e;
  }
  .ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 4px;
  }
  .ngx-pagination li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f8f8f8;
    color: #0b3049;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    a {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .ngx-pagination li:hover{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .ngx-pagination .small-screen {
    display: none !important;
  }
  .ngx-pagination li.pagination-previous,
      .ngx-pagination li.pagination-next {
        a, span {
          width: 100%;
          height: 100%;
          border-radius: 25px;
          overflow: hidden;
          color: #f8f8f8;
        }
      }

      
    .ngx-pagination .pagination-previous a:before,
    .ngx-pagination .pagination-previous.disabled:before a:before,
    .ngx-pagination li.pagination-next::before{
        margin-right: 0px !important;
        font-size: 10px;
        margin-top: -5px;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        /* border: 1px solid rgb(63, 130, 255); */
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2199e8;
        left:0;
        pointer-events: none;
    }
    
    .ngx-pagination .pagination-next::before{
        content: '\bb';
    } */
    .ngx-pagination .pagination-next::after{
        display: none !important;
    }

    .ngx-pagination .pagination-previous.disabled::before,
    .ngx-pagination .pagination-next.disabled::before{
        opacity: 0.4;
    }
    .ngx-pagination .pagination-previous.disabled::hover{
        background-color: #2199e8
    .ngx-pagination .pagination-previous a:before,
    .ngx-pagination .pagination-previous.disabled:before a:before,
    .ngx-pagination li.pagination-next::before{
        margin-right: 0px !important;
        font-size: 10px;
        margin-top: -5px;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        /* border: 1px solid rgb(63, 130, 255); */
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2199e8;
        left:0;
        pointer-events: none;
    }
    
    .ngx-pagination .pagination-next::before{
        content: '\bb';
    } */
    .ngx-pagination .pagination-next::after{
        display: none !important;
    }

    .ngx-pagination .pagination-previous.disabled::before,
    .ngx-pagination .pagination-next.disabled::before{
        opacity: 0.4;
    }
    .ngx-pagination .pagination-previous.disabled::hover{
        background-color: #2199e8;
    }

    .ngx-pagination a:hover , .ngx-pagination button:hover {
        background: initial !important;
    }
;
    }

    .ngx-pagination a:hover , .ngx-pagination button:hover {
        background: initial !important;
    }

}

