
.service{
    height: 116px; /* Adjust the height as needed */
    background: linear-gradient(to right, #feed0033, #ffffff);
  }
  
.myCard{
    height: 116px;
  }
  
.upload-label {
    display: inline-block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .cardX{
    height: 82px;
  }

  .ImgBox{
    width: 268px;
    height: 110px;
    margin-bottom: 0px;
  }
  .image-container img { 
    position: absolute;
    text-align: center;
    width: auto;
    margin-bottom: 10px;
    
  }

.img{
  object-fit: cover;
}
