<nav class="navbar navbar-expand bg-white mb-4 topbar static-top navbar-light">
    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
        <div>
            <span class="mx-2 text-secondary" style="font-size: 12px;">أي تكنولوجي</span>
            <img src="../../../assets/img/arrow-left.png" alt="" class="mx-2">
            <span class="mx-2 text-secondary" style="font-size: 12px;">المستودع</span>
            <img src="../../../assets/img/arrow-left.png" alt="" class="mx-2">
            <span class="mx-2 " style="font-size: 12px;">إدارة المنتجات و الخدمات</span>
        </div>
        <ul class="navbar-nav flex-nowrap me-auto d-flex align-items-center g-3">
            <li class="nav-item dropdown no-arrow mx-1">
                <div class="nav-item dropdown no-arrow">
                    <i class=" p-2 bi bi-search"></i>                    
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
                <div class="nav-item dropdown no-arrow">
                    <i class="p-2 bi bi-bell"></i>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
                <div class="nav-item dropdown no-arrow">
                    <i class=" p-2 bi bi-envelope"></i>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
                <div style="width: 1px; height: 36px;" class="bg-secondary bg-opacity-25 mx-2"></div>
            </li>
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow">
                        <div class="row">
                                <div class="col-md-1 ms-2 d-flex align-items-center">
                                    <img class="border rounded-4 img-profile" src="../../../assets/img/Image-40.svg">
                                </div>
                                <div class="col m-0 mx-3" style="font-size: 12px;">
                                    محمد بسيوني
                                  <h6 class="text-secondary mt-1" style="font-size: 10px;">خدمة العملاء</h6>      
                                </div>
                                <div class="col">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown">
                                        <div class="dropdown-menu dropdown-menu-end animated--grow-in">
                                            <a class="dropdown-item" href="#" style="font-size: 12px;">البروفايل</a>
                                         
                                            <a class="dropdown-item" href="#" style="font-size: 12px;">الإعدادت</a>
                                                    
                                                <a class="dropdown-item" href="#" style="font-size: 12px;">سجل النشاط</a>
                                
                                                <div class="dropdown-divider"></div>

                                            <a class="dropdown-item" href="#" style="font-size: 12px;">تسجيل الخروج</a>
                                        </div>
                                     </a>
                                </div>
                        </div>
                </div>
            </li>
        </ul>
    </div>
</nav>