.sidebar{
    background-color: #ffffff;
}
span{
    font-size: 12px;
    color: #83899F;
}
#accordionSidebar{
    font-size: 12px;
    display: flex;
    justify-content: end;

}

a{
    border-radius: 20px;
}

a:hover{
    background-color: #fffb00;
    background-opacity: 25% ;
    color:#0771DE;
}

