<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="width: 83px; height: 100vh;">
    <div class="container-fluid d-flex flex-column p-0"><a class="d-flex justify-content-center align-items-center m-0" href="#">
            <div class="sidebar-brand-text mt-3"><img src="../../../assets/img/logo.svg" alt=""></div>
        </a>

        <ul class="navbar-nav text-light text-center p-0" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link mt-4 p-0" ><img src="../../../assets/img/home.svg" alt="" class="p-2 rounded-3 bg-opacity-25">
                <div class="mt-1">
                    <span>لوحة التحكم</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link mt-2 p-0" ><img src="../../../assets/img/profile-user.svg" alt="" class="p-2 rounded-3 bg-opacity-25">
                <div class="mt-1">
                    <span>إدارة العملاء</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link mt-2 p-0" ><img src="../../../assets/img/layer.svg" alt="" class="p-2 rounded-3 bg-opacity-25">
                <div class="mt-1">
                    <span>إدارة المهام</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link mt-2 p-0" ><img src="../../../assets/img/calendar.svg" alt="" class="p-2 rounded-3 bg-opacity-25">
                <div class="mt-1">
                    <span>إدارة المواعيد</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link mt-2 p-0" ><img src="../../../assets/img/note.svg" alt="" class="p-2 rounded-3 bg-opacity-25">
                <div class="mt-1">
                    <span>منشئ النماذج</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link mt-2 p-0" ><img src="../../../assets/img/box.svg" alt="" class="p-2 rounded-3 bg-opacity-25">
                <div class="mt-1">
                    <span>المخزون</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link mt-2 p-0" ><img src="../../../assets/img/messages.svg" alt="" class="p-1 rounded-3 bg-opacity-25">
                <div class="mt-1">
                    <span>الدردشات</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link mt-2 p-0" ><img src="../../../assets/img/info-circle-bar.svg" alt="" class="p-1 rounded-3 bg-opacity-25">
                <div class="mt-1">
                    <span>الحساب</span>
                </div>
            </a></li>
            <li class="nav-item"><a class="nav-link" ><img src="../../../assets/img/setting-2.svg" alt="" class="p-1 rounded-3 bg-opacity-25">
                <div class="mt-1">
                    <span>الاعدادات</span>
                </div>
            </a></li>
        </ul>
    </div>
</nav>