<div id="card m-0">
  <div id="chart" class="m-0">
    <apx-chart
      id="chart-id"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [labels]="chartOptions.labels"
      [stroke]="chartOptions.stroke"
      [fill]="chartOptions.fill"
    ></apx-chart>
  </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<!-- <div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
</div> -->
