<div class="row">
    <div class="col-md-6 col-xl-3 mb-0">
        <div class="card border-start-primary m-0">
            <div class="card-body">
                <div class="row align-items-center no-gutters m-0 p-0">
                    <div class="col me-2 mb-0">
                        <div class="text-uppercase text-xs mb-2"><span style="font-size: 12px;">إحصائيات الخدمات</span></div>
                        <div class="text-dark  h5 mb-0"><span style="font-size: 16px;">250K $</span></div>
                    </div>
                    <div class="col m-0">
                        <app-pie-chart></app-pie-chart>                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-0">
        <div class="card bg-primary border-start-success py-1">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="p-2 rounded-2 d-flex align-items-center">
                            <img src="../../../assets/img/empty-wallet-time.svg" class="bg-white p-1 rounded-2">
                            <div class="text-uppercase text-white mx-2 text-xs"><span style="font-size: 12px;">الأرباح المتوقعة</span></div>
                        </div>
                        <div class="text-dark mb-0" >
                            <div class="d-flex mt-1"> 
                                <span class=" mx-2 text-white" style="font-size: 16px;">250K$</span>
                                <span class="bg-white px-2 rounded-5 bg-opacity-25 text-white text-opacity-100 d-flex align-items-center" style="font-size: 7px;" >
                                    <i class=" bi bi-arrow-up-right ms-2"></i>
                                    <span>4.5%</span> 
                                </span>
                              </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="bg-primary rounded-2 d-flex align-items-center">
                            <img src="../../../assets/img/Mask group.svg" alt="" style="width:106px; height: 50px;">
                          </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-12 col-xl-6 mb-4">
        <div class="card border-start-info py-1">
            <div class="card-body">
                <div class="row col-md-12 mb-4">
                    <div class="col-md-4">
                      <h3 class="text-center" style="font-size: 12px;">المنتجات الأكثر مبيعاً</h3>
                      <div class="d-flex flex-wrap align-items-center justify-content-left">
                        <div class="d-flex align-items-center justify-content-around my-1">
                          <span class="bg-success px-1 rounded-1 mx-2" style="font-size: 6px;">1</span>
                          <span style="font-size: 8px;">أيفون برو ماكس</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-around my-1">
                          <span class="bg-warning px-1 rounded-1 mx-2" style="font-size: 6px;">2</span>
                          <span style="font-size: 8px;">شنطة يد جلد</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-around my-1">
                          <span class="bg-danger px-1 rounded-1 mx-2" style="font-size: 6px;">3</span>
                          <span style="font-size: 8px;">ساعة رولكس</span>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                      <div class="">
                        <img src="../../../assets/img/chart.svg" alt="" class="w-100" style="height: 75px;">
                      </div>
                    </div>
                    <div class="myCard col-md-4">
                      <h3 class=" text-center" style="font-size: 12px;">المنتجات الأقل مبيعاٌ</h3>
                      <div class="d-flex flex-wrap align-items-center justify-content-left">
                        <div class="d-flex align-items-center justify-content-around my-1">
                          <span class="bg-success px-1 rounded-1 mx-2" style="font-size: 6px;">1</span>
                          <span style="font-size: 8px;">شنطة سفر كبيرة</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-around my-1">
                          <span class="bg-warning px-1 rounded-1 mx-2" style="font-size: 6px;">2</span>
                          <span style="font-size: 8px;">مستحضرات تجميل</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-around my-1">
                          <span class="bg-danger px-1 rounded-1 mx-2" style="font-size: 6px;">3</span>
                          <span style="font-size: 8px;">سامسونج A20</span>
                        </div>
                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

